div{
    height: 100px;
    width: 100px;
    background-color: blue;
    border-width: 2px;
    border-style: solid;
    border-color: chocolate;
    border-radius: 50%;
}
h2{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border:2px solid black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
}